body{
  background: white;
  margin: 0px;
  position: relative;
  font-family : 'Roboto Slab', sans-serif;
}

.page{
  height: 100vh;
  width: 100%;
  position: relative;
}

#HomePage{
  background: #3E606F;
}

#HomePage .center {
  width: 800px;
  height: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -110px;
  margin-left: -400px;
}

#HomePage .center .left{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom:0px;
  width: 240px;
}

#HomePage .center .left .profile_picture {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 106px;
  display: inline-block;
  border: 6px solid whitesmoke;
}

#HomePage .center .left .profile_picture:hover{
  -webkit-animation: profil_picture_rotate .5s infinite; /* Chrome, Safari, Opera */
  animation: profil_picture_rotate .5s infinite;
}

#HomePage .center .left .profile_picture img {
    width: 215px;
}

#HomePage .center .right{
  position: absolute;
  right: 0px;
  top: 0px;
  bottom:0px;
  width: 560px;
}
#HomePage .center .right .profile_text{
  color: white;
}
#HomePage .center .right .profile_text h1{
  font-family: 'Ubuntu', serif;
  margin:0px;
  font-size: 40px;
  margin-top: 30px;
}
#HomePage .center .right .profile_text p{
  margin-top: 10px;
  margin-bottom: 20px;
}

#HomePage .center .right .button_next {
  width: 40px;
  height: 40px;
  line-height: 43px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  cursor: pointer;
  background: rgba(255,255,255,0.2);
  text-align: center;
  border-radius: 20px;
  color: white;
  font-size: 30px;


}
#HomePage .center .right .button_next:hover{
  -webkit-animation: mymove .5s infinite; /* Chrome, Safari, Opera */
  animation: mymove .5s infinite;
}

#Illustration{
  background: #D1DBBD;
}

#Illustration .center{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 420px;
  margin-left: -400px;
  margin-top: -210px;
}

#Illustration .center .left{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom:0px;
  width: 240px;
}

#Illustration .center .left h2{
  font-size: 50px;
  margin: 0px;
}

#Illustration .center .right{
  position: absolute;
  right: 0px;
  top: 0px;
  bottom:0px;
  width: 560px;
  text-align: right;
}

#Illustration .center .right .gallerie{
  text-align: right;
}

#Illustration .center .right .gallerie .illu{
  width: 240px;
  height: 160px;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
}

#Illustration .center .right .button_illu{
   border: 2px solid red;
   border-radius: 10px;
   display: inline-block;
   padding: 10px;
}


/*
On peut le réutilisé plus tard
*/
.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}




/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0%   {margin-top: -0px;}
    25%  {margin-top: -10px;}
    50%  {margin-top: -5px;}
    75%  {margin-top: -10px;}
    100% {margin-top: -0px;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {margin-top: -0px;}
    25%  {margin-top: -10px;}
    50%  {margin-top: -5px;}
    75%  {margin-top: -10px;}
    100% {margin-top: -0px;}
}

@-webkit-keyframes profil_picture_rotate {
    0%    {    -webkit-transform: rotate(0deg);}
    25%   {    -webkit-transform: rotate(20deg);}
    50%   {    -webkit-transform: rotate(0deg);}
    75%   {    -webkit-transform: rotate(-20deg);}
    100%  {    -webkit-transform: rotate(0deg);}
}

/* Standard syntax */
@keyframes profil_picture_rotate {
    0%    {    -webkit-transform: rotate(0deg);}
    25%   {    -webkit-transform: rotate(20deg);}
    50%   {    -webkit-transform: rotate(0deg);}
    75%   {    -webkit-transform: rotate(-20deg);}
    100%  {    -webkit-transform: rotate(0deg);}
}

/*
@-webkit-keyframes profil_picture_rotate {
  from {
    -webkit-transform: rotate(0deg);

  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes profil_picture_rotate {
  from {
    -moz-transform: rotate(0deg);

  }
  to {
    -moz-transform: rotate(360deg);
  }
}
*/
